body {
    background-color: lightsteelblue;
    font-family: "Rubik";
    font-size: 17px;
}

* {
  box-sizing: border-box;
}

.container {
    background-color: white;
    border-radius: 5px;
    max-width: 450px;
    max-height: 700px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    display: block;
    margin: auto;
    height: 100px;
    width: 100px;
    /*First three line centers the image*/
}

.header {
    margin-left: 90px;
    margin-top: 70px;
 }

hr {
    width: 100%;
    margin-bottom: 0px;
    }

.divider {
	height: 7px;
	width: 30px;
	background-color: dodgerblue;
	margin-left: 90px;
	margin-top: -5px;
	margin-bottom: 50px;
	border-radius: 2px;
}

label {
	padding-left: 90px;
    font-size: 20px;
    margin: 5px 0px;
}

.input-container {
    width: 100%;
}

.input-field {
    width: 70%;
    padding: 10px;
    margin: 10px 0px;
    font-size: 15px;
    border-radius: 4px;
    border: 2px solid #ccc;
    outline: none;
    box-sizing: border-box;
  }
  
  .input-field:focus {
    border: 2px solid dodgerblue;
  }

.icon {
    padding: 10px;
    margin-right: 10px;
    margin-left: 25px;
    background: dodgerblue;
    color: white;
    min-width: 25px;
    text-align: center;
    border-radius: 5px;
  }

  .remember-me {
    margin-left: 80px;
    margin-top: 10px;
  }

  .btn-container{
    max-width: 100%;
    margin-left: 30px;
    display: flex;
    justify-content: center;
  }

  /* Set a style for the submit button */
.btn {
    background-color: dodgerblue;
    color: white;
    border: none;
    cursor: pointer;
    width: 30%;
    border-radius: 5px;
    margin: 20px 10px;
    padding: 10px 0px;
    opacity: 1;
  }
  
  .btn:hover {
    opacity: 0.8;
  }

  .custom-link {
    display: flex;
    justify-content: center;
  }

.custom-link a {
    color: dodgerblue;
    font-size: 12px;
    text-decoration: none;
    margin-left: 5px;
  }
